body{
    cursor: -webkit-grab; cursor: -moz-grab;
	font-family:Arial;
	background:radial-gradient(circle, #fff 20%, #ccc) ;
}
#calc{
    
    
    margin-right:100px;
    border-radius:10px;
    background:#9dd2ea;
    	box-shadow: 0px 4px #009de4, 0px 10px 15px rgba(0, 0, 0, 0.2);
    	
}
#equals{
    width:113px;
}
#display{
    color:#ffffff ;
	width:400px;
	height: 50px;
text-align:right;
	margin-bottom: 5px;
	overflow:auto;
	font-size:40px;
    background: linear-gradient(#9dd2ea, #8bceec);
    	
	
	background: rgba(0, 0, 0, 0.2);
	border-radius: 7px;
	box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
	
}


.button{
    color:dimgrey;
    margin-left:6px;
     margin-bottom: 3px;
    margin-right: 3px;
     border-radius: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
	-moz-box-shadow:    0px 1px 3px 0px #bcbcbc, inset 0 0 3px #ffffff;
	-webkit-box-shadow: 0px 1px 3px 0px #bcbcbc, inset 0 0 3px #ffffff;
	box-shadow:         0px 1px 3px 0px #bcbcbc, inset 0 0 3px #ffffff;
box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
	display:inline-block;
	height: 50px;
	width: 50px;

	text-align:center;
	transition: all 0.5s ease;
	background-color:#F8F8F8 
	

}

.button:hover{
	background-color: #B0B0B0 ;
	-webkit-transform: scale(1.3); 
	cursor: -webkit-grabbing; cursor: -moz-grabbing;
}
button{
    margin-bottom: 3px;
    margin-right: 3px;
     border-radius: 10px;
    background-color:#888888;
	display:inline-block;
	height: 50px;
	width: 50px;
	
	text-align:center;
	transition: all 0.5s ease;

}
button:hover{
    	background-color: #B0B0B0 ;
	-webkit-transform: scale(-1.07); 
	cursor: -webkit-grabbing; cursor: -moz-grabbing;
}


